<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>alfred.mcoder.cc</string>
	<key>connections</key>
	<dict>
		<key>053E4290-220C-4DCF-9991-331733D2658B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>38768F78-44D3-4654-841F-AD084E13FE1B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>4EBFA6FE-CF27-4F11-9706-515F6B516BD1</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>45F4CB84-C114-4D03-9E50-8D6BAD91ED9B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>AF2EA43A-79FD-4535-BCBF-AFB9967B65E8</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>45F4CB84-C114-4D03-9E50-8D6BAD91ED9B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>40B73C19-5BC8-4150-99ED-9722D8009C69</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>06617187-14F0-4B7C-A039-68F9A5E680C0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>38768F78-44D3-4654-841F-AD084E13FE1B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>75DFFA35-CAA8-4F8A-BE4D-294F99164320</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>45F4CB84-C114-4D03-9E50-8D6BAD91ED9B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>75DFFA35-CAA8-4F8A-BE4D-294F99164320</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D83C979D-894D-4E2E-A9DF-223D4C049978</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4B3F46BF-516D-4AA5-ACCD-CB5669EBD840</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DFB3E752-17E4-4708-9D53-691CF876017F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>053E4290-220C-4DCF-9991-331733D2658B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E06C57B9-9D37-4C74-84EC-FCFF5F0C62A9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4B3F46BF-516D-4AA5-ACCD-CB5669EBD840</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chaoqun Jiang</string>
	<key>description</key>
	<string>超群自用的提升办公效率小工具集合</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>超群提升办公效率的工具集</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>75DFFA35-CAA8-4F8A-BE4D-294F99164320</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.random</string>
			<key>uid</key>
			<string>38768F78-44D3-4654-841F-AD084E13FE1B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>rand</string>
				<key>subtext</key>
				<string>可填 uuid、int</string>
				<key>text</key>
				<string>随机数据</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>DFB3E752-17E4-4708-9D53-691CF876017F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>uuid</string>
						<key>outputlabel</key>
						<string>uuid</string>
						<key>uid</key>
						<string>4EBFA6FE-CF27-4F11-9706-515F6B516BD1</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>int</string>
						<key>outputlabel</key>
						<string>int</string>
						<key>uid</key>
						<string>AF2EA43A-79FD-4535-BCBF-AFB9967B65E8</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>int</string>
						<key>uid</key>
						<string>40B73C19-5BC8-4150-99ED-9722D8009C69</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>053E4290-220C-4DCF-9991-331733D2658B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>maxnumber</key>
				<string>10000000000000000</string>
				<key>minnumber</key>
				<string>0</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.random</string>
			<key>uid</key>
			<string>45F4CB84-C114-4D03-9E50-8D6BAD91ED9B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>random 命令不支持其他参数</string>
				<key>title</key>
				<string>不支持其他参数</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>06617187-14F0-4B7C-A039-68F9A5E680C0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>timex gen</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>生成中</string>
				<key>script</key>
				<string>./timex



</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>timex gen</string>
				<key>title</key>
				<string>时间戳生成工具</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>D83C979D-894D-4E2E-A9DF-223D4C049978</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>4B3F46BF-516D-4AA5-ACCD-CB5669EBD840</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>timex trans</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>生成中</string>
				<key>script</key>
				<string>./timex -method trans -param "$1"



</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>timex trans</string>
				<key>title</key>
				<string>时间戳转换工具</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>E06C57B9-9D37-4C74-84EC-FCFF5F0C62A9</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>测试</string>
	<key>uidata</key>
	<dict>
		<key>053E4290-220C-4DCF-9991-331733D2658B</key>
		<dict>
			<key>xpos</key>
			<real>235</real>
			<key>ypos</key>
			<real>95</real>
		</dict>
		<key>06617187-14F0-4B7C-A039-68F9A5E680C0</key>
		<dict>
			<key>xpos</key>
			<real>585</real>
			<key>ypos</key>
			<real>220</real>
		</dict>
		<key>38768F78-44D3-4654-841F-AD084E13FE1B</key>
		<dict>
			<key>xpos</key>
			<real>395</real>
			<key>ypos</key>
			<real>85</real>
		</dict>
		<key>45F4CB84-C114-4D03-9E50-8D6BAD91ED9B</key>
		<dict>
			<key>xpos</key>
			<real>395</real>
			<key>ypos</key>
			<real>145</real>
		</dict>
		<key>4B3F46BF-516D-4AA5-ACCD-CB5669EBD840</key>
		<dict>
			<key>xpos</key>
			<real>325</real>
			<key>ypos</key>
			<real>615</real>
		</dict>
		<key>75DFFA35-CAA8-4F8A-BE4D-294F99164320</key>
		<dict>
			<key>xpos</key>
			<real>580</real>
			<key>ypos</key>
			<real>85</real>
		</dict>
		<key>D83C979D-894D-4E2E-A9DF-223D4C049978</key>
		<dict>
			<key>xpos</key>
			<real>65</real>
			<key>ypos</key>
			<real>560</real>
		</dict>
		<key>DFB3E752-17E4-4708-9D53-691CF876017F</key>
		<dict>
			<key>xpos</key>
			<real>45</real>
			<key>ypos</key>
			<real>90</real>
		</dict>
		<key>E06C57B9-9D37-4C74-84EC-FCFF5F0C62A9</key>
		<dict>
			<key>xpos</key>
			<real>65</real>
			<key>ypos</key>
			<real>675</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>version</key>
	<string>0.0.1</string>
	<key>webaddress</key>
	<string>https://www.mcoder.cc</string>
</dict>
</plist>
